/*CSS File For Sign-In webpage*/
#body-color{
background-color:white;
}
#Sign-In{
margin-top:150px;
margin-bottom:150px;
margin-right:150px;
margin-left:450px;
border:0px solid #a1a1a1;
padding:9px 35px; 
background:pink;
width:300px;
border-radius:15px;
box-shadow: 4px 7px 6px;
}
#button{
margin-top:15px;
margin-bottom:0px;


border-radius:10px;
width:100px;
height:40px;
background:orange;
padding:2px 25px;
font-weight:bold;
font-size:18px
}


